{% extends "base.html" %}
{% load static %}

{% block content %}
   <link rel="stylesheet" href="{% static 'css/projects.css' %}">
   <link rel="stylesheet" href="{% static 'css/modal.css' %}">

   <div class="container mt-5">
      <div class="d-flex justify-content-between mb-5">
         <h1 class="page-title">Projects</h1>
         <a href="{% url 'tasks:project-create' %}" class="btn btn-custom">Create new project</a>
      </div>

      {% if project_list %}
         <div class="row">
            {% for project in project_list %}
               <div class="col-md-12 mb-5">
                  <a href="{% url 'tasks:project-detail' pk=project.id %}" class="text-decoration-none">
                     <div class="card project-card">
                        <div class="card-body project-bg">
                           <div class="row">
                               <div class="col-md-8">
                                   <h5 class="card-title">{{ project.name }}</h5>
                                   <p class="card-text">
                                      <strong>Assigned team:</strong> {{ project.team }} <br><br>
                                      <strong>Description:</strong> {{ project.description }}
                                   </p>
                               </div>
                           </div>

                           <p class="edit-text">
                              <a href="{% url 'tasks:project-update' pk=project.id %}"><i class="fa fa-edit"></i> Edit</a>
                           </p>

                           <p class="delete-text">
                              <a href="{% url 'tasks:project-delete' pk=project.id %}" class="text-danger">
                                 <i class="fa fa-trash-alt"></i> Delete
                              </a>
                           </p>
                        </div>
                     </div>
                  </a>
               </div>
            {% endfor %}
         </div>
      {% else %}
         <p class="no-projects">You don't have projects yet</p>
      {% endif %}
   </div>
{% endblock %}
