{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="p-5 shadow-lg rounded bg-white project-details">
        <h1 class="text-gold text-center mb-4">{{ project.name }}</h1>

        <div class="project-info">
            <p><strong>Assigned team:</strong> <span class="text-dark">{{ project.team }}</span></p>
            <p class="description-title"><strong>Description:</strong></p>
            <p class="description-text">{{ project.description|linebreaksbr }}</p>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a href="{% url 'tasks:projects' %}" class="btn btn-secondary">Back to Projects</a>
            <a href="{% url 'tasks:project-update' pk=project.id %}" class="btn btn-gold"><i class="fa fa-edit"></i> Edit</a>
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal-{{ project.id }}">
                <i class="fa fa-trash-alt"></i> Delete
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal-{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel-{{ project.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body d-flex justify-content-center align-items-center" style="height: 150px; position: relative;">
                <h5 class="modal-title" id="deleteModalLabel-{{ project.id }}" style="font-size: 20px; color: #444; text-align: center;">
                    Are you sure you want to delete the project "{{ project.name }}"?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 10px; right: 10px; font-size: 24px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="d-flex justify-content-center" style="margin-top: 20px; margin-bottom: 10px;">
                <a href="" class="btn btn-secondary" style="font-size: 16px; padding: 10px 20px; border-radius: 5px; margin-right: 10px;">
                    Cancel
                </a>
                <form method="POST" action="{% url 'tasks:project-delete' project.id %}" style="display: inline-block;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" style="font-size: 16px; padding: 10px 20px; border-radius: 5px;">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/project_detail.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

{% endblock %}
