{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="p-5 shadow-lg rounded bg-white project-details">
        <h1 class="text-gold text-center mb-4">{{ project.name }}</h1>

        <div class="project-info">
            <p><strong>Assigned team:</strong> <span class="text-dark">{{ project.team }}</span></p>
            <p class="description-title"><strong>Description:</strong></p>
            <p class="description-text">{{ project.description|linebreaksbr }}</p>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a href="{% url 'tasks:projects' %}" class="btn btn-secondary">Back to Projects</a>
            <a href="{% url 'tasks:project-update' pk=project.id %}" class="btn btn-gold"><i class="fa fa-edit"></i> Edit</a>
            <a href="{% url 'tasks:project-delete' pk=project.id %}" class="btn btn-danger">
                <i class="fa fa-trash-alt"></i> Delete
            </a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/project_detail.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

{% endblock %}
